<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="custom-form" method="post">
    <div class="login-container">
      <form class="login-form" method="post">
          <h2>Registro</h2>
          <div class="input-group">
              <label for="nombre">Nombre:</label>
              <input type="text" id="username" name="username" required>
          </div>
          <div class="input-group">
              <label for="apellido">Apellido:</label>
              <input type="text" id="password" name="password" required>
          </div>
          <div class="input-group">
            <label for="correo-electronico">Correo electronico:</label>
            <input type="text" id="password" name="password" required>
          </div>
          <div class="input-group">
            <label for="">Tipo Documento:</label>
            <select name="tipo_documento" id="tipo_documento">
              <option disabled selected>Tipo de documento</option>
              <option>Tarjeta de identidad</option>
              <option>Cedula de ciudadania</option>
              <option>Cedula de extranjeria</option>
            </select>
          </div>
          <div class="input-group">
            <label for="password">Numero de documento:</label>
            <input type="number" id="password" name="password" required>
          </div>
          <div class="input-group">
            <label for="password">Direccion:</label>
            <input type="text" id="password" name="password" required>
          </div>
            <button type="submit">Enviar</button>
      </form>
    </div>
  </form>
</body>
</html>
