* {
  margin: 0;
  padding: 0;
}

/*Encabezado principal*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.container {
  width: 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container a {
  text-decoration: none;
  color: black;
  font-size: 1.3em;
}

.search {
  border: 2px solid black;
  height: 50%;
}

.search .input {
  height: 50%;
  width: 85%;
  font-size: 1em;
  border-radius: 0;
  outline: none;
  padding-left: 1em;
  border: none;
}

.search .button {
  cursor: pointer;
  border: none;
  width: 15%;
  height: 50%;
  background: none;
}

.c-c {
  width: 24vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.c-c a {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

