<header id="header">

  <div class="container">
    <h1>easy</h1>
  </div>

  <div class="container search">
    <input type="text" class="input" placeholder="Ej. Adidas">
    <button text="submit" class="button"><i class="fas fa-search search-icon"></i></button>
  </div>

  <div class="container c-c">
    <span class="icono"><i class="fas fa-user-circle"></i></span>
    <a href="login" class="text">Login</a>
    <span class="icono"><i class="fas fa-heart"></i></span>
    <a href="#" class="text">Favoritos</a>
    <span class="icono"><i class="fas fa-shopping-cart"></i></span>
    <a href="carrito" class="text">Carrito</a>
  </div>
</header>