<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="./header.component.css">
</head>
<body>
  <header id="header">
    <div class="izquierda">
        <img src="logo.png" alt="Logo de mi tienda">
    </div>

    <div class="centro">
      <p>barra de busqueda</p>
    </div>

    <div class="derecha">
      <li><a href="#">login</a></li>
      <li><a href="#">favoritos</a></li>
      <li><a href="#">carrito</a></li>
    </div>
</header>
</body>
</html>
