.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
 /* Ocupar toda la altura de la ventana */
}

h2 {
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* Estilizar el formulario */
.form {
  background-color: #fff;
  padding: 20px; /* Reducir el padding para adaptarse mejor */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto; /* Ajustar el ancho automáticamente */
}

/* Estilizar los grupos de entrada */
.input-group label {
  display: block;
  margin-bottom: 0.5em; /* Espacio entre la etiqueta y el campo de entrada */
}
select {
  width: calc(92% - 10px);
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.input-group input,
button {
  width: calc(90% - 10px);
  margin: 0 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-transform: uppercase;
}

/* Estilizar el botón */
button {
  margin-top: 3em;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(237, 228, 97);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(176, 166, 26, 0.834);
}

