
<div class="container">
  <form
    class="login-form"
    [formGroup]="productForm"
    (ngSubmit)="updateProduct()"
  >
    <h2>Editar producto</h2>
    <div class="input-group">
      <label for="name">id:</label>
      <input
        type="text"
        id="id"
        name="id"
        required
        formControlName="id"
      />
    </div>
    <div class="input-group">
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        required
        formControlName="name"
      />
    </div>
    <div class="input-group">
      <label for="price">Precio:</label>
      <input
        type="text"
        id="price"
        name="price"
        required
        formControlName="price"
      />
    </div>

    <div class="input-group">
      <label for="">Categoria:</label>
      <select
        name="category"
        formControlName="category"
        id="category"
      >
        <option disabled selected>Seleccionar</option>
        <option *ngFor="let c of category" [value]="c">
          {{ c }}
        </option>
      </select>
    </div>
    <div class="input-group">
      <label for="image">Imagen:</label>
      <input type="file" id="image" name="image" required />
    </div>
    <button type="submit">Enviar</button>
  </form>
</div>
