html{
  margin: 0;
  padding: 0;
}

.informacion{
  background-color: black;
  height: 8vh;
  height:60px;
  display: flex;
  justify-content:end;
}

a{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-right: 30px;
  margin-top: 20px;
  text-decoration: none;
}

nav a {
  position: relative;
  top: 10px; /* Ajusta la posición vertical */
  left: 20px; /* Ajusta la posición horizontal */
}


.container{
  height: 70vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image:url(img/photo-1524532787116-e70228437bbe.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

.texto{
  color: black;
  -webkit-text-stroke: 1px  rgb(237, 228, 97);
  width: 30%;
  height: 70%;
  font-size: 4em;
  margin-left: 20vh;
  display: flex;
  align-items: center;
  padding-left: 20px;
  line-height: 1.3;
}




