<div class="container">
  <div class="profile" >
    <div class="img" style="background-color: aqua; width: 50px; height: 50px;"></div>
    <p>{{ user.name }} {{ user.lastName }}</p>
    <p>{{user.email}}</p>
    <p>{{user.address}}</p>
    <p>{{user.document}}</p>
    <p>{{user.documentType}}</p>
  </div>
  <div class="table-dash" *ngIf="isAdmin && flag">
    <table class="table table-bordered">
      <thead>
        <th scope="col">Id</th>
        <th scope="col">Direccion</th>
        <th scope="col">Documento</th>
        <th scope="col">Correo</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Tipo de documento</th>
        <th scope="col">Movimientos</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUser">
          <td>{{user.id}}</td>
          <td>{{user.address}}</td>
          <td>{{user.document}}</td>
          <td>{{user.email}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.name}}</td>
          <td>{{user.documentType}}</td>
          <td scope="col">
            <button class="edit" (click)="deleteUser(user.document)"><i class="fas fa-edit"></i></button>
            <button class="delete"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>