* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap");

.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .profile {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.p {
  margin-top: .6rem;
}

.container .payment {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.profile,
.payment {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.payment-no-exist p {
  color: #888;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #2980b9;
}

.btn{
  display: flex;
  align-items: flex-end;
}

.container .checkout {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Table */

.titulo {
  margin: 1.1em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.menu-acciones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5em;
}

.container-table {
  width: 90%;
  height: 80%;
  margin: 0 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: .3em solid rgb(133, 29, 29);
  font-weight: 400;
  text-align: center;
}
th {
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(237, 228, 97);
}

th,
td {
  border: .3em solid black;
  font-weight: 500;
  height: 3.5em;
}

td .eliminar:hover {
  cursor: pointer;
}
td .icono:hover {
  cursor: pointer;
}
.icono {
  width: auto;
  height: 100%;
  border: none;
  font-size: 2em;

}

.registro-span {
  margin-top: 1em;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}
