
<div class="container">
  <div class="no-item" *ngIf="!flag">
    <h1>Aun no hay nada </h1>
    <p>Agrega un producto a favoritos.</p>
  </div>

  <div class="item-container" *ngIf="flag">
    <div class="items" *ngFor="let product of wishlist">

      <div class="img">

      </div>

      <div class="item-info">
        <span>Nombre: {{product.name}}</span>
        <span>Precio: {{product.price}}</span>
        <span>Categoria: {{product.category}}</span>
      </div>

    </div>
    
  </div>
</div>