<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">-->
          <div class="add-product">
            <form class="form" method="post">
                <h2>Agregar producto</h2>
                <div class="input-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="input-group">
                    <label for="image">Imagen:</label>
                    <input type="image" id="image" name="image" required>
                </div>
                <div class="input-group">
                  <label for="text">Descripcion:</label>
                  <input type="text" id="description" name="description" required>
                </div>
                <div class="input-group">
                  <label for="text">Categoria:</label>
                  <select class="select-category" required name="category">
                    <option disabled selected>Seleccione una categoria </option>
                    <option value="cuentaCorriente" name="">Cuenta Corriente</option>
                    <option value="cuentaAhorros" name="">Cuenta Ahorros</option>
                  </select>
                </div>
                <div class="input-group">
                  <label for="text">Precio:</label>
                  <input type="number" id="price" name="price" required>
                </div>
                  <button type="submit">Guardar</button>
            </form>

          </div>
          <!--   </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
-->

</body>
</html>
