/* Asegúrate de que la familia de fuentes y el color de fondo se apliquen al cuerpo */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2em;
  text-align: center;
}

/* Centrar el producto agregado en la pantalla */
.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupar toda la altura de la ventana */
}

/* Estilizar el formulario */
.form {
  background-color: #fff;
  padding: 20px; /* Reducir el padding para adaptarse mejor */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto; /* Ajustar el ancho automáticamente */
  max-width: 500px; /* Máximo ancho del formulario */
}

/* Estilizar los grupos de entrada */
.input-group label {
  display: block;
  margin-bottom: 0.5em; /* Espacio entre la etiqueta y el campo de entrada */
}

.input-group input,
button {
  width: calc(100% - 20px); /* Ajustar el ancho y restar el padding */
  margin: 0 10px; /* Centrar dentro del grupo de entrada */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

/* Estilizar el botón */
button {
  margin-top: 3em;
  font-size: 15px;
  padding: 10px;
  background-color: rgb(237, 228, 97);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(176, 166, 26, 0.834);
}
